<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="assets/ratchet/css/ratchet.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
</head>
<body>

<script id="home-tpl" type="text/template">
    <header class="bar bar-nav">
        <h1 class="title">Devices</h1>
	</header>
    <div class="bar bar-standard bar-header-secondary">
        <input class='search-key' type="search"/>
    </div>
    <div class="content"></div>

	<nav class="bar bar-tab">
  		<a class="tab-item active" href="#">
    		Devices
  		</a>
  		<a class="tab-item" href="#scan">
    		Scan
  		</a>
	</nav>
</script>

<script id="device-list-tpl" type="text/template">
    <ul class="table-view">
        {{#each this}}
        <li class="table-view-cell media">
            <a href="#devices/{{ id }}">
                <img class="media-object pull-left" src="assets/pics/{{pic}}">
                <div class="media-body">
                    {{name}} [{{type}}]
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</script>

<script id="device-tpl" type="text/template">
      <header class="bar bar-nav">
          <a class="btn btn-link btn-nav pull-left" href="#">
              <span class="icon icon-left-nav"></span>
          </a>
          <h1 class="title">Device</h1>
      </header>
      <div class="content">
          <div class="card">
              <ul class="table-view">
                  <li class="table-view-cell media">
                      <img class="media-object pull-left emp-pic" src="assets/pics/{{pic}}">
                      <div class="media-body">
                          {{ name }}
                      </div>
                  </li>
                  <li class="table-view-cell media">
                      <a href="http://:{{ ip }}" class="push-right">
                          <span class="media-object pull-left icon icon-call"></span>
                          <div class="media-body">
                              ip
                              <p>{{ ip }}</p>
                          </div>
                      </a>
                  </li>
                  <li class="table-view-cell media">
                      <a href="http://:{{ configURL }}" class="push-right">
                          <span class="media-object pull-left icon icon-call"></span>
                          <div class="media-body">
                              Configure
                              <p>{{ configURL }}</p>
                          </div>
                      </a>
                  </li>

              </ul>
      	</div>
		<button class="btn btn-positive btn-block" id="switchOn">Switch ON</button>
		<button class="btn btn-negative btn-block" id="switchOff">Switch OFF</button>
      </div>
  </script>

<script id="scan-tpl" type="text/template">
	<header class="bar bar-nav">
        <a class="btn btn-link btn-nav pull-left" href="#">
        	<span class="icon icon-left-nav"></span>
        </a>

		<h1 class="title">Scan</h1>
	</header>

	<div class="content" />
</script>

<script src="cordova.js"></script>
<script src="lib/jquery.js"></script>
<script src="lib/router.js"></script>
<script src="lib/handlebars.js"></script>
<script src="js/services/memory/DeviceService.js"></script>
<script src="js/DeviceListView.js"></script>
<script src="js/HomeView.js"></script>
<script src="js/DeviceView.js"></script>
<script src="js/ScanView.js"></script>
<script src="js/app.js"></script>
</body>
</html>
